<html>
<body bgcolor="#E6E6FA">

<center>
  
<h1>Selecione a data</h1>
<br>
<%= form_tag("/result", method: "get") do %>
  <%= label_tag(:month_begin, "Mes inicial:") %>
  <%= date_field_tag(:month_begin) %>
   &nbsp&nbsp&nbsp&nbsp&nbsp
  <%= label_tag(:year_begin, "Ano inicial:") %>
  <%= date_field_tag(:year_begin) %>
  
<br>
<br>

  <%= label_tag(:month_end, "Mes final:") %>&nbsp&nbsp
  <%= date_field_tag(:month_end) %>
   &nbsp&nbsp&nbsp&nbsp&nbsp
  <%= label_tag(:year_end, "Ano final:") %>&nbsp&nbsp
  <%= date_field_tag(:year_end) %>
  
<br>
<br>
  <%= submit_tag("buscar") %>
<% end %>

</center>
</body>
</html>